[submodule "portfoliosite/hugo-tracks-theme"]
	path = portfoliosite/hugo-tracks-theme
	url = https://github.com/ageekymonk/hugo-tracks-theme.git
[submodule "portfoliosite/themes/tracks"]
	path = portfoliosite/themes/tracks
	url = https://github.com/ageekymonk/hugo-tracks-theme.git
[submodule "portfoliosite/themes/ananke"]
	path = portfoliosite/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
